<%= form_with scope: :decision_change_request, url: change_request_path(@change_request["id"], planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <% if @errors.any? %>
    <span id="status-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span><%= @errors %></span>
  <% end %>
  <div class="govuk-form-group">
    <%= form.govuk_radio_buttons_fieldset(:approved, legend: { size: 's', text: 'Do you agree with the changes made to your application description?' }) do %>
      <%= form.govuk_radio_button :approved, 'yes', label: { text: 'Yes, I agree with the changes made'} %>
      <%= form.govuk_radio_button :approved, 'no', label: { text: 'No, I disagree with the changes made' } do  %>
        <%= form.govuk_text_area :rejection_reason, label: { text: 'Please indicate why you disagree with the changes and provided your suggested wording for the description?' }, rows: 3 %>
      <% end %>
    <% end %>
  </div>
  <div class="govuk-!-padding-top-4">
    <%= form.submit "Submit", class: "govuk-button", data: { module: "govuk-button" } %>
    <%= link_to 'Back', change_request_path(@change_request["id"], planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), class: "govuk-button govuk-button--secondary" %>
  </div>
<% end %>
