<% content_for :title do %>
  Replacement document validation request #<%= @validation_request["id"] %>
<% end %>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
      <h2 class="govuk-heading-l">
        Provide a replacement document
      </h2>
      <p class="govuk-body">
        The case officer has specified below why this document needs replacing.
      </p>
      <p class="govuk-heading-s">What you need to do:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Select 'choose file' and upload a replacement file from your device</li>
        <li>Click save to add the file</li>
        <li>Click submit to complete this action </li>
      </ul>

      <%= render "shared/planning_guides_link" %>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <div class="govuk-!-margin-top-8">
        <p class="govuk-body"><strong>Name of file on submission:</strong><br>
          <%= @validation_request["old_document"]["name"] %>
        </p>
      </div>
      <div class="govuk-!-margin-top-6">
        <p class="govuk-body"><strong>The reason the file needs replacing:</strong><br>
          <%= @validation_request["old_document"]["invalid_document_reason"] %>
        </p>
      </div>
      <%= form_with scope: :replacement_document_validation_request,
        url: replacement_document_validation_request_path(@validation_request["id"], planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]),
        method: :patch,
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>

        <% if @replacement_document_validation_request.errors.any? %>
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <% @replacement_document_validation_request.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="govuk-form-group <%= flash["error"].present? ? 'govuk-form-group govuk-form-group--error' : '' %>">
          <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-8">
            <%= form.govuk_file_field :file,  label: { text: "Upload a replacement file", class: "govuk-label govuk-!-font-weight-bold" }, accept: acceptable_file_mime_types %>
            <%= form.hidden_field :id %>
          </div>
          <div class="govuk-button-group">
            <%= form.submit "Submit", class: "govuk-button", data: { module: "govuk-button" } %>
            <%= link_to 'Back', validation_requests_path(planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), class: "govuk-button govuk-button--secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
