<% content_for :page_title do %>
  Planning application for 
  <%= @planning_application["site"]["address_1"] %>, 
  <%= @planning_application["site"]["address_2"] %>, 
  <%= @planning_application["site"]["postcode"] %>
<% end %>

<h1 class="govuk-heading-l">
  <%= @planning_application["site"]["address_1"] %>, 
  <%= @planning_application["site"]["address_2"] %>, 
  <%= @planning_application["site"]["postcode"] %>
</h1>

<p class="govuk-body-s govuk-!-margin-bottom-1">Planning application reference number</p>
<p class="govuk-body"><%= @planning_application["reference"] %></p>

<my-map
  style="width: 100%; height: 400px; margin-bottom: 20px;"
  osVectorTilesApiKey='<%= ENV['OS_VECTOR_TILES_API_KEY'] %>'
  showScale
  useScaleBarStyle
  geojsonData='<%= @planning_application["boundary_geojson"].is_a?(Hash) ? @planning_application["boundary_geojson"].to_json : JSON.parse(@planning_application["boundary_geojson"]).to_json.html_safe %>'
  zoom="19"
  latitude='<%= @planning_application["site"]["latitude"] %>'
  longitude='<%= @planning_application["site"]["longitude"] %>'
></my-map>

<h2 class="govuk-heading-m govuk-!-margin-top-8">Application summary</h2>
<p class="govuk-body">
  <%= @planning_application["description"] %>
</p>

<p class="govuk-body">
  If you need this information in an alternative format, contact your case officer on <%= @local_authority["feedback_email"] %> or by telephone at <%= @local_authority["telephone_number"] %>.
</p>
<hr>

<%= render(ConsultationStatusComponent.new(planning_application: @planning_application)) %>
<hr>

<h2 class="govuk-heading-m govuk-!-margin-top-8">Application documents</h2>
<hr>
<% @documents.each do |document| %>
  <div style="display: flex;" class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
    <div class="govuk-!-margin-right-5">
      <a target="_blank" href="<%= document["url"] %>">
        <img style="width:200px; height: 200px;" src="<%= "#{@base_url}#{document["blob_url"]}" %>">
      </a>
    </div>
    <div>
      <p class="govuk-body"><%= document["numbers"] %></p>
      <p class="govuk-body"><%= document["applicant_description"] %></p>
    </div>
  </div>
  <hr>
<% end %>

<h2 class="govuk-heading-m govuk-!-margin-top-8">Neighbour Comments</h2>
<% if @planning_application["published_comments"].present? %>
  <hr>
  <ul class="govuk-list">
    <% @planning_application["published_comments"].each do |comment| %>
      <li>
        <span class="govuk-tag <%= "govuk-tag--#{tag_colour(comment["summary_tag"])}" %>">
          <%= comment["summary_tag"] %>
        </span>
        <br>
        <p>
          <strong>Date received:</strong> <%= comment["received_at"].to_date.strftime("%d/%m/%y") %>
        </p>
        <p>
          <%= simple_format(comment["comment"]) %>
        </p>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p class="govuk-body">No comments have been made on this application yet.</p>
<% end %>

<h2 class="govuk-heading-m govuk-!-margin-top-8">Consultee Comments</h2>
<% if @planning_application["consultee_comments"].present? %>
  <hr>
  <ul class="govuk-list">
    <% @planning_application["consultee_comments"].each do |comment| %>
    <li>
        <p>
          <strong>Date received:</strong> <%= comment["received_at"].to_date.strftime("%d/%m/%y") %>
        </p>
        <p>
          <%= simple_format(comment["comment"]) %>
        </p>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p class="govuk-body">No comments have been made on this application yet.</p>
<% end %>
