<%= form_with scope: :fee_change_validation_request,
  url: fee_change_validation_request_path(@validation_request["id"], planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]),
  method: :patch do |form| %>

  <% if @fee_change_validation_request.errors.any? %>
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <% @fee_change_validation_request.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div>
    <p class="govuk-body-l">
      <strong>Respond to this request</strong><br>
    </p>
  </div>

  <div class="govuk-form-group <%= @fee_change_validation_request.errors.any? ? 'govuk-form-group--error' : '' %>">
    <div>
      <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error: </span><%= @fee_change_validation_request.errors[:files].join("") %>
      </p>
      <%= form.govuk_file_field :files, multiple: true, hint: { text: "Upload as many files as you need to from your device. You can upload up to 30MB." }, label: { text: "Upload documents", size: "s" }, accept: acceptable_file_mime_types %>
      <%= form.hidden_field :id %>
    </div>

    <%= form.govuk_text_area :response, label: nil, hint: { text: "Enter any comments you want to share with the case officer, including any reasons why you don't agree with what they've said." }, rows: 6 %>
  </div>

  <div class="govuk-button-group">
    <%= form.submit "Submit", class: "govuk-button", data: { module: "govuk-button" } %>
    <%= link_to "Back", validation_requests_path(planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), class: "govuk-button govuk-button--secondary" %>
  </div>
<% end %>
