<% content_for :page_title do %>
  <%= t(".page_title", id:  @validation_request["id"]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
      <% if @validation_request["state"] == "cancelled" %>
        <%= render "validation_requests/cancelled",
          validation_request: @validation_request,
          heading: "Cancelled fee change request on your application" %>
      <% else %>
        <h1 class="govuk-heading-l">Response to fee change request</h1>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <p class="govuk-body">
          <strong>Officer's reason for invalidating application</strong><br>
        </p>
        <p class="govuk-body">
          <%= render(FormattedContentComponent.new(text: @validation_request["reason"])) %>
        </p>
        <p class="govuk-body">
          <strong>How you can make your application valid</strong><br>
        </p>
        <p class="govuk-body">
          <%= @validation_request["suggestion"] %>
        </p>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <p class="govuk-body">
          <strong>My response to this request</strong><br>
        </p>
        <p class="govuk-body">
          <%= render(FormattedContentComponent.new(text: @validation_request["response"])) %>
        </p>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <% end %>

      <div class="govuk-!-padding-bottom-8">
        <%= link_to 'Back', validation_requests_path(planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), class: "govuk-button govuk-button--secondary" %>
      </div>
    </div>
  </div>
</div>
