<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
      <%= render "document_create_header"%>
      <div class="govuk-form-group <%= flash["error"].present? ? 'govuk-form-group govuk-form-group--error' : '' %>">
        <%= form_with scope: :document_create_request, url: document_create_request_path(@change_request["id"], planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
          <% if flash["error"].present? %>
            <span id="status-error" class="govuk-error-message">
              <%= flash["error"] %>
            </span>
          <% end %>
          <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-4">
            <%= form.govuk_file_field :file,  label: { text: "Upload a new file", class: "govuk-label govuk-!-font-weight-bold" } %>
          </div>
          <div class="govuk-!-padding-top-4">
            <%= form.submit "Submit", class: "govuk-button", data: { module: "govuk-button" } %>
            <%= link_to 'Back', change_requests_path(planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), class: "govuk-button govuk-button--secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
