<h1 class="govuk-heading-l">
  Any other comments?
</h1>

<p class="govuk-body">
  Tell us about anything else you'd like the planning officer to consider.
</p>

<p class="govuk-body">
  We cannot consider issues such as:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>disputes about civil matters, such as building freeholds or the 'right to light'</li>
  <li>loss of property value</li>
  <li>issues which are dealt with by other forms of law, such as party wall matters.</li>
</ul>
<p class="govuk-body">
  We cannot refuse permission because of construction noise. However, we can restrict the hours
  of work to reduce disturbance to residents and other sensitive neighbours.
</p>

<%= form.govuk_text_area :other_comments, label: { text: 'Any other comments?' }, rows: 3, max_chars: 200 %>

<%= form.hidden_field :name %>
<%= form.hidden_field :email %>
<%= form.hidden_field :address %>
<%= form.hidden_field :summary_tag %>
<%= form.hidden_field :tags %>
<%= form.hidden_field :design %>
<%= form.hidden_field :new_use %>
<%= form.hidden_field :privacy %>
<%= form.hidden_field :disabled_access %>
<%= form.hidden_field :noise %>
<%= form.hidden_field :traffic %>
<%= form.hidden_field :other %>

<%= form.govuk_submit "Submit your response" %>
