<div data-controller="select-checkboxes">
  <%= form.govuk_check_boxes_fieldset :tags, legend: { text: "Share your comments about the proposed work", size: "l" }, hint: { text: "Select the ares you want to comment on. You can add general comments in the next step." } do %>
    <%= form.govuk_check_box :tags, :design, label: { text: "The design, size and height of new buildings or extensions" } do %>
      <%= form.govuk_text_area :design, label: { text: "Tell us more" } %>
    <% end %>
    <%= form.govuk_check_box :tags, :new_use, label: { text: "The impact of new uses of buildings or of land" } do %>
      <%= form.govuk_text_area :new_use, label: { text: "Tell us more" } %>
    <% end %>
    <%= form.govuk_check_box :tags, :privacy, label: { text: "Loss of light and the privacy of neighbours" } do %>
      <%= form.govuk_text_area :privacy, label: { text: "Tell us more" } %>
    <% end %>
    <%= form.govuk_check_box :tags, :disabled_access, label: { text: "Access for disabled people" } do %>
      <%= form.govuk_text_area :disabled_access, label: { text: "Tell us more" } %>
    <% end %>
    <%= form.govuk_check_box :tags, :noise, label: { text: "Noise from new uses" } do %>
      <%= form.govuk_text_area :noise, label: { text: "Tell us more" } %>
    <% end %>
    <%= form.govuk_check_box :tags, :traffic, label: { text: "The impact of development on traffic parking and road safety" } do %>
      <%= form.govuk_text_area :traffic, label: { text: "Tell us more" } %>
    <% end %>
    <%= form.govuk_check_box_divider %><br>
    <%= form.govuk_check_box :tags, :other, label: { text: "Other" } do %>
      <%= form.govuk_text_area :other, label: { text: "Tell us more" } %>
    <% end %>
  <% end %>

  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :address %>
  <%= form.hidden_field :summary_tag %>
  <%= hidden_field_tag(:response_tags, @new_response.response_tags) %>

  <%= form.govuk_submit "Continue" %>
  <button type="submit" name="move_back" class="govuk-button govuk-button--secondary" data-disable-with="Back">Back</button>
</div>

<script>
  var tags = document.getElementsByName("response_tags")[0].value.split(" ");
  for (var i = 0; i < tags.length; i++) {
    document.getElementById(`neighbour-response-tags-${tags[i]}-field`).click()
  }  
</script>
