<h1 class="govuk-heading-l">Comment on a planning application</h1>

<h2 class="govuk-heading-m">
  <%= @planning_application["site"]["address_1"] %>, 
  <%= @planning_application["site"]["address_2"] %>, 
  <%= @planning_application["site"]["postcode"] %>
</h2>

<h2 class="govuk-heading-m">Application number: <%= @planning_application["reference"] %></h2>

<h3 class="govuk-heading-s govuk-!-margin-top-6">
  What we will consider
</h3>
<p class="govuk-body">
  We can only consider comments that are directly related to the actual proposals. These are known as ‘material considerations’.
  For instance, we can consider comments that concern:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the design, size and height of new buildings or extensions</li>
  <li>the impact of new uses of buildings or of land</li>
  <li>loss of light and the privacy of neighbours</li>
  <li>access for disabled people</li>
  <li>noise from new uses</li>
  <li>the impact of development on traffic parking and road safety.</li>
</ul>

<h3 class="govuk-heading-s govuk-!-margin-top-6">
  What happens next
</h3>
<p class="govuk-body">
  Once you've subbmitted your form:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a planning officer will read and consider your comments</li>
  <li>we will inform you of the decision about this application once it's been made</li>
</ul>
<p class="govuk-body">
  Your comments will be made available publicly. Your response may be edited (redacted) if it includes personal
  information or offensive language.
</p>

<%= link_to "Start", new_planning_application_neighbour_responses_path(@planning_application["id"]), class: "govuk-button" %>
