<% content_for :page_title do %>
  Description change validation request #<%= @validation_request["id"] %> - Back-Office Planning System
<% end %>

<div class="govuk-grid-row govuk-!-margin-top-7 govuk-!-padding-bottom-8">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
      <% if @validation_request["state"] == "cancelled" %>
        <%= render "validation_requests/cancelled",
          validation_request: @validation_request,
          heading: "Cancelled request for changes to your description" %>
      <% else %>
        <h1 class="govuk-heading-l">Confirm changes to your application description</h1>
        <p class="govuk-body">
          The following changes have been made to your application's description.
        </p>
        <div class="govuk-!-margin-top-8">
          <p class="govuk-body"><strong>Previous description</strong><br>
            <%= @validation_request["previous_description"] %>
          </p>
        </div>
        <div class="govuk-!-margin-top-6">
          <p class="govuk-body"><strong>New description</strong><br>
            <%= @validation_request["proposed_description"] %>
          </p>
        </div>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <% if @validation_request["approved"] == false %>
          <strong class="govuk-tag govuk-tag--red">
            Disagreed with suggested changes
          </strong>
          <p class="govuk-body govuk-!-padding-top-6"><strong>My objection and suggested wording for description: </strong><br>
            <%= @validation_request["rejection_reason"] %>
          </p>
        <% end %>
        <% if @validation_request["approved"] == true %>
          <strong class="govuk-tag govuk-tag--green">
            Agreed with suggested changes
          </strong>
        <% end %>
      <% end %>

      <div class="govuk-!-margin-top-8">
        <%= link_to 'Back', validation_requests_path(planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), class: "govuk-button govuk-button--secondary" %>
      </div>
    </div>
  </div>
</div>
