<%= form_with scope: :red_line_boundary_change_request, url: red_line_boundary_change_request_path(@change_request["id"], planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <% if flash["error"].present? %>
    <span id="status-error" class="govuk-error-message">
       <%= flash["error"] %>
    </span>
  <% end %>

  <div class="govuk-form-group <%= flash["error"].present? ? 'govuk-form-group govuk-form-group--error' : '' %>">
    <%= form.govuk_radio_buttons_fieldset(:approved, legend: { size: 's', text: 'Respond to the proposed new boundary' }) do %>
      <%= form.govuk_radio_button :approved, 'yes', label: { text: 'Yes, I agree with the proposed red line boundary'} %>
      <%= form.govuk_radio_button :approved, 'no', label: { text: 'No, I disagree with the proposed red line boundary' } do  %>
        <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-2">
          <%= form.govuk_text_area :rejection_reason, label: { text: 'Please indicate why you disagree with the proposed red line boundary.' }, rows: 6 %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="govuk-!-padding-top-4">
    <%= form.submit "Submit", class: "govuk-button", data: { module: "govuk-button" } %>
    <%= link_to 'Back', change_requests_path(planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), class: "govuk-button govuk-button--secondary" %>
  </div>
<% end %>
