<h1 class="govuk-heading-l"><%= t(".title") %></h1>
<p class="govuk-body"><%= t(".the_case_officer") %></p>
<% if @validation_request["state"] == "open" %>
  <p class="govuk-heading-s"><%= t(".what_you_need") %></p>
  <ul class="govuk-list govuk-list--bullet">
    <li><%= t(".select_choose_files") %></li>
    <li><%= t(".file_must_be_smaller_than") %></li>
    <li><%= t(".click_save_to") %></li>
    <li><%= t(".click_submit_to") %></li>
  </ul>
  <% unless @validation_request["post_validation"] %>
    <div class="govuk-inset-text">
      <%= t(".if_your_response", date: date_due(@validation_request)) %>
    </div>
  <% end %>
  <%= render "shared/planning_guides_link" %>
<% end %>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-!-margin-top-6">
  <p class="govuk-body"><strong><%= t(".document_requested") %></strong><br>
    <%= render(FormattedContentComponent.new(text: @validation_request["document_request_type"])) %>
  </p>
</div>
<div class="govuk-!-margin-top-4 govuk-!-padding-bottom-6">
  <p class="govuk-body"><strong><%= t(".case_officers_reason") %></strong><br>
    <%= render(FormattedContentComponent.new(text: @validation_request["reason"])) %>
  </p>
</div>
