<% content_for :page_title do %>
  <%= t(".page_title", id:  @validation_request["id"]) %>
<% end %>
<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l"><%= t(".title") %></h1>
      <p class="govuk-body"><%= t(".the_following_changes") %></p>
      <h2 class="govuk-heading-m"><%= t(".what_you_need") %></h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><%= t(".select_if_you") %></li>
        <li><%= t(".if_you_disagree") %></li>
        <li><%= t(".click_submit_to") %></li>
      </ul>
      <div class="govuk-inset-text">
        <%= t(".if_your_response", date: date_due(@validation_request)) %>
      </div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <div style="margin-top: 50px;">
        <p class="govuk-body">
          <strong><%= t(".reasons_change_is") %></strong><br>
          <%= render(FormattedContentComponent.new(text: @validation_request["reason"])) %>
        </p>
      </div>
      <div style="margin-top: 50px;">
        <p class="govuk-body">
          <strong><%= t(".your_original_red") %></strong><br>
        </p>
        <%= render(
          "location_map",
          locals: {
            geojson: @validation_request["original_geojson"],
            accessibility_text: t(".accessibility_text_original")
          }
        )%>
      </div>
      <div style="margin-top: 30px;">
        <p class="govuk-body">
          <strong><%= t(".proposed_red_line") %></strong><br>
        </p>
        <%= render(
          "location_map",
          locals: {
            geojson: @validation_request["new_geojson"],
            accessibility_text: t(".accessibility_text_proposed")
          }
        ) %>
      </div>
      <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        <%= render "shared/alternative_map" %>
      </div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <%= render "form" %>
    </div>
  </div>
</div>
