<section aria-labelledby="page-heading">
  <% content_for :page_title do %>
    Confirm ownership
  <% end %>
</section>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Confirm ownership</h1>

    <p class="govuk-body">
      <%= @planning_application["site"]["address_1"] %>,
      <%= @planning_application["site"]["address_2"] %>,
      <%= @planning_application["site"]["postcode"] %>
    </p>

    <p class="govuk-body-s govuk-!-margin-bottom-1">Planning application reference number</p>
    <p class="govuk-body"><%= @planning_application["reference"] %></p>
    <%= form_for @ownership_certificate,
      url: planning_application_ownership_certificate_path(@planning_application["id"], @ownership_certificate),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      method: :patch do |form| %>
      <%= form.govuk_radio_buttons_fieldset(:know_owners, legend: { size: 'm', text: 'Do you know how many owners there are?' }) do %>
        <%= form.govuk_radio_button :know_owners, 'Yes', label: { text: 'Yes' } do %>
          <%= form.govuk_text_field :number_of_owners, label: { text: 'How many owners are there' } %>
        <% end %>
        <%= form.govuk_radio_button :know_owners, 'No', label: { text: 'No or not sure' }, link_errors: true %>
      <% end %>

      <%= form.govuk_radio_buttons_fieldset :certificate_type, legend: { text: 'Do you know who the owners of the property are?' } do %>
        <%= form.govuk_radio_button :certificate_type, "b", label: { text: "Yes" } %>
        <%= form.govuk_radio_button :certificate_type, "c", label: { text: "I know who some of them are" } %>
        <%= form.govuk_radio_button :certificate_type, "d", label: { text: "I don't know who they are" } %>
      <% end %>

      <%= form.govuk_radio_buttons_fieldset(:notification_of_owners, legend: { size: 'm', text: 'Have you notified the owners of the land about this application?' }) do %>
        <%= form.govuk_radio_button :notification_of_owners, 'yes', label: { text: 'Yes, all of them' } %>
        <%= form.govuk_radio_button :notification_of_owners, 'some', label: { text: 'Yes, some of them' } %>
        <%= form.govuk_radio_button :notification_of_owners, 'no', label: { text: 'No' } do %>
          <p class="govuk-body">
            You must notify owners about this application. Use a notification form to send them details of the proposed work
          </p>
        <% end %>
      <% end %>
      <%= form.govuk_submit "Continue" %>
      <%= link_to "Back",
        edit_ownership_certificate_validation_request_path(@ownership_certificate_validation_request["id"], change_access_id: @ownership_certificate.change_access_id, planning_application_id: @planning_application["id"]),
        class: "govuk-button govuk-button--secondary"
      %>
    <% end %>
  </div>
</div>
