<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>
    <p class="govuk-body">
      <strong><%= t(".at") %></strong>
      <%= full_address(@planning_application) %><br>
      <strong><%= t(".date_received") %></strong>
      <%= date_received(@planning_application) %><br>
      <strong><%= t(".application_number") %></strong>
      <%= @planning_application["reference"] %><br>
      <br>
    </p>
    <p class="govuk-body"><%= t(".the_case_officer") %></p>
    <p class="govuk-heading-s"><%= t(".what_you_need") %></p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t(".each_link_below") %></li>
      <li><%= t(".click_on_each") %></li>
      <li><%= t(".once_you_have") %></li>
      <li><%= t(".you_need_to") %></li>
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ol class="moj-task-list">
      <% if @validation_requests["data"]["description_change_validation_requests"].present? %>
        <%= render "description_change_validation_requests" %>
      <% end %>

      <% if @planning_application["status"] != "not_started" %>
        <% if @validation_requests["data"]["replacement_document_validation_requests"].present? %>
          <%= render "replacement_document_validation_requests" %>
        <% end %>

        <% if @validation_requests["data"]["additional_document_validation_requests"].present? %>
          <%= render "additional_document_validation_requests" %>
        <% end %>

        <% if @validation_requests["data"]["red_line_boundary_change_validation_requests"].present? %>
          <%= render "red_line_boundary_change_validation_requests" %>
        <% end %>

        <% if @validation_requests["data"]["other_change_validation_requests"].present? %>
          <%= render "other_change_validation_requests" %>
        <% end %>
      <% end %>
     </ol>
  </div>
</div>
