<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Back-Office Planning System" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag(asset_url("b-favicon.ico")) %>
    <%= favicon_link_tag(
      asset_url("b-apple-touch-icon.png"),
      rel: "apple-touch-icon",
      type: "image/png"
    ) %>
    <%= favicon_link_tag(
      asset_url("b-mask-icon.svg"),
      rel: "mask-icon"
    ) %>
    <link rel="stylesheet" href="https://use.typekit.net/zmv8alo.css">
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="govuk-template__body">

    <%= render "partials/header" %>
    <%= render "flashes" %>

    <div class="govuk-width-container app-width-container--wide">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <%= mail_to contact_details[:feedback_email], "feedback", class: "govuk-link"  %>
            will help us to improve it.
          </span>
        </p>
      </div>

      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>
    <%= render "partials/footer" %>
    <%= javascript_include_tag 'govuk', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
