<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Back-Office Planning System" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag(asset_url("b-favicon.ico")) %>
    <%= favicon_link_tag(
      asset_url("b-apple-touch-icon.png"),
      rel: "apple-touch-icon",
      type: "image/png"
    ) %>
    <%= favicon_link_tag(
      asset_url("b-mask-icon.svg"),
      rel: "mask-icon"
    ) %>
    <link rel="stylesheet" href="https://use.typekit.net/zmv8alo.css">
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <% if ENV["FEEDBACK_FISH_ID"].present? %>
      <script defer src="https://feedback.fish/ff.js?pid=<%= ENV['FEEDBACK_FISH_ID'] %>"></script>
    <% end %>
  </head>

  <body class="govuk-template__body govuk-frontend-supported">

    <%= render "partials/header" %>
    <%= render "flashes" %>

    <div class="govuk-width-container app-width-container--wide">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            Beta
          </strong>

          <% if ENV["FEEDBACK_FISH_ID"].present? %>
            <span class="govuk-phase-banner__text">
              This is a new service – your
              <a class="govuk-link" href="#"
                data-feedback-fish
                data-feedback-fish-userid="<%= @planning_application["agent_email"] if @planning_application %>"
              >
                feedback
              </a>

              will help us to improve it.
            </span>
          <% end %>
        </p>
      </div>

      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>
    <%= render "partials/footer" %>
    <%= javascript_include_tag 'govuk', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
